<head>
    <title> B2S - About </title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="seller">Want to sell?</a></li>
                <li><a href="login"><button class="register"> Sign in/Sign up</button></a></li>
            </ul>
        </nav>
    </div>
    <h1 style="text-align:center;" class = "header">
        About Us
    </h1>
    <h3 style="text-align:center;" class = "header">
        CaRental is a project created by Avaneesh Shetye, and Harsh Gupta, 2 students of Vellore Institute of Technology, Chennai.
    </h3>
</body>