<head>
    <title>B2S - Welcome</title>
    <link rel="icon" href="{{url_for('static', filename='src/b2s.jpg')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <meta name="viewport" content="width=content-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class = "navbar">
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="seller">Want to sell?</a></li>
                <li style="color:#f4f5f6">Logged in</li>
            </ul>
        </nav>
    </div>
    <span style="text-align:center;" class="title1">Buyer 2 Seller</span>
    <span style="text-align:center;" class="title2">A place to connect the buyer and the seller</span>
    <div class="heading">
        <h2 class="title3">Featured Products</h2>
        <div class = "products">
            <div class = "row">
                <div class = "col-2">
                    <a href="product/1" target="_blank">
                        <img src="{{url_for('static', filename='src/mens_shirt.jpg')}}">
                    </a>
                    <h4 class="title2">White Cotton Full-Sleeved Shirt</h4>
                    <p class="title4">₹399.99</p>
                </div>
                <div class = "col-2">
                    <a href="product/2" target="_blank">
                        <img src="{{url_for('static', filename='src/womens_suit.png')}}">
                    </a>
                    <h4 class="title2">Cotton Full-Sleeved Ladies Corporate Uniform</h4>
                    <p class="title4">₹999.99</p>
                </div>
                <div class = "col-2">
                    <a href="product/3" target="_blank">
                        <img src="{{url_for('static', filename='src/shoes.jpeg')}}">
                    </a>
                    <h4 class="title2">Casual Running Shoes</h4>
                    <p class="title4">₹499.99</p>
                </div>
                <div class = "col-2">
                    <a href="product/3" target="_blank">
                        <img src="{{url_for('static', filename='src/headphones.png')}}">
                    </a>
                    <h4 class="title2">Apple Over-Ear Headphones</h4>
                    <p class="title4">₹1999.99</p>
                </div>
                <div class = "col-2">
                    <a href="product/3" target="_blank">
                        <img src="{{url_for('static', filename='src/lightbulb.png')}}">
                    </a>
                    <h4 class="title2">Round Lightbulb</h4>
                    <p class="title4">₹75.00</p>
                </div>
                <div class = "col-2">
                    <a href="product/3" target="_blank">
                        <img src="{{url_for('static', filename='src/speakers.png')}}">
                    </a>
                    <h4 class="title2">Bluetooth Bass Speakers</h4>
                    <p class="title4">₹249.99</p>
                </div>
            </div>
        </div>
        <a href="#top">
            <button class="topp">^</button>
        </a>
    </div>
</body>